@model IdentityServerAspNetIdentity.Quickstart.Account.RegisterViewModel

<section class="page-section register-page">
    <div class="container align-content-center">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Регистрация</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-leaf"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <partial name="_ValidationSummary" />
                        <form asp-route="Register">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Username">Потребителско име</label>
                                <input class="form-control" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName">Име</label>
                                <input class="form-control"asp-for="FirstName" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName">Фамилия</label>
                                <input class="form-control" asp-for="LastName" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Имейл</label>
                                <input class="form-control" asp-for="Email" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Парола</label>
                                <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Потвърди паролата</label>
                                <input type="password" class="form-control"asp-for="ConfirmPassword" autocomplete="off">
                            </div>
                            
                            <button class="btn btn-primary" name="button" value="register">Регистрация</button>
                            <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Вече имаш профил? Влез с потребителско име!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>