@page
@model BeautySalonSystem.UI.Pages.Offers.Index

@{
  ViewData["Title"] = "Offer Index";
}

<header class="masthead-admin bg-primary text-white text-center">
  <div class="masthead-admin-container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0 text-white">Оферти</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-leaf"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0"></p>
  </div>
</header>

<div class="container row">
  @foreach (var offer in Model.AllOffers)
  {
    if (offer.IsActive)
    {
      <div class="card offer-card col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Google_Earth_Icon.png" alt="Image">
        <div class="card-body">
          <h5 class="card-title">@offer.Name</h5>
          @* <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
        </div>
        <ul class="list-group list-group-flush">
          @foreach (var product in @offer.Products)
          {
            <li class="list-group-item">@product.Name</li>
          }
        </ul>
        <a class="btn btn-primary text-white" asp-page="/Appointments/Index" asp-route-id="@offer.Id">Запази час</a>
      </div>
    }
  }
</div>